@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Oxygen:wght@300&display=swap');

*,
*::before,
*::after
{
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box !important;
	letter-spacing: 1.5px;
	word-spacing: 2px;
}

::selection {
	color: #F6F4AB;
	background: #133E3E;
}

body
{
	position: relative;
	color: #3e3e3e;
	text-shadow: 0.2px 0.2px #000;
	font-family: 'Oxygen', sans-serif;
}

.fade-in 
{
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
	-moz-animation: fadeIn 5s;
	-o-animation: fadeIn 5s;
	-ms-animation: fadeIn 5s;
}

@keyframes fadeIn 
{
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn 
{
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn 
{
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn 
{
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn 
{
	0% {opacity:0;}
	100% {opacity:1;}
}

/** From Bootstrap */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	font-family: 'Bebas Neue', cursive;
}

h1, .h1 {
	font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
	h1, .h1 {
		font-size: 2.5rem;
	}
}

h2, .h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2, .h2 {
		font-size: 2rem;
	}
}

h3, .h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3, .h3 {
		font-size: 1.75rem;
	}
}

h4, .h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4, .h4 {
		font-size: 1.5rem;
	}
}

h5, .h5 {
	font-size: 1.25rem;
}

h6, .h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
/** End Bootstrap */

.btn 
{
	padding: 9px 23px;
	background-color: #060605;
	color: #FAFAF9;
	border:  none;
	border-radius: 50px;
	cursor: pointer;
	transition: fadeIn .7s ease 0s;
	display: flex;
	justify-content: center;
	align-content: center;
}

.btn:hover
{
	background-color: #000;
}

.text-orange
{
	color: #FAB368;
}

.text-green
{
	color: #259B47;
}

.text-main
{
	color: #F2392D;
}

.text-black
{
	color: #133E3E;
}


.bg-orange
{
	background-color: #FAB368;
}

.bg-green
{
	background-color: #259B47;
}

.bg-main
{
	background-color: #F2392D;
}

.bg-black
{
	background-color: #133E3E;
}

header
{
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url("../images/afupulpzi9en9n5plem4.jfif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar
{
	width: 100%;
	padding: 1rem 0.1rem 3rem 8rem;
	position: relative;
	height: 95px;
}

.logo
{
	font-weight: 300;
	cursor: pointer;
	font-family: 'Aldrich', sans-serif;
}

.nav-btn 
{
	display: none; /*Hide toggle button for desktop*/
}
#nav-check
{
	display: none;
}

.navbar,
nav
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
	align-items: center;
}

nav 
{
	margin-left: auto;
}

.navbar li 
{
	display: inline-block;
}

.navbar ul li
{
	padding: 15px;

}


.navbar ul li:not(.right) a:hover
{
	color: #000;
}

.navbar .right
{
	margin-left: auto;
}


#hero
{
	display: flex;
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 1%;
	padding: 8rem;
}

.hero-text
{
	width: 60%;
	height: 90%;
}

.hero-text h2 
{
	font-size: 3.5rem;
	font-weight: 500;
}

.hero-text p 
{
	margin-bottom: 1.5rem;
}

p.small
{
	font-size: 0.8rem;
	text-shadow: 0.2 0.2 #E6EAF5;
}

.hero-text a.btn 
{
	width: 14.2%;
}

/* responsive */
@media screen and (max-width: 1024px)
{

	.navbar
	{
		padding: 1rem 0.4rem;
		height: auto;
		text-align: center;
	}

	.navbar > *
	{
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		justify-content: space-between;
		margin: auto;
	}

	.logo
	{
		text-align: center;
	}

	.nav-btn 
	{
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.nav-btn > label 
	{
		height: 50px;
		padding: 13px;
		display: inline-block;
		width: 50px;

	}

	.nav-btn > label:hover,
	 #nav-check:checked ~ .nav-btn > label 
	{
		background-color: rgba(0, 0, 0, 0.3);
	}


	.nav-btn > label > span 
	{
		height: 10px;
		border-top: 2px solid #eee;
		display: block;
		width: 25px;

	}

	nav
	{
		position: absolute;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		display: block;
		width: 100%;
		background-color: #333;
		left: 0px;
	}

	.nav-links > ul li a
	{
		display: block;
		width: 100%;
	}

	/*   */



	.nav-links > ul li
	{
		padding: 0;
		display: block;
		margin-bottom: 20px;

	}

	.nav-links > ul li a
	{
		margin-left: 10%;
	}


	/*   */
	#nav-check:not(:checked) ~ .nav-links 
	{
		height: 0px;
	}

	#nav-check:checked ~ .nav-links 
	{
		height: calc(100vh - 90px);
		overflow-y: auto;
	}


	#hero
	{
		display: flex;
		position: relative;
		width: 100%;
		height: 80%;
		padding: 2rem 1rem;
	}

	.hero-text
	{
		width: 100%;
		height: 100%;
		margin-top: 5rem auto;
	}

	.hero-text h2 
	{
		font-size: 2.5rem;
		font-weight: 500;
	}

	.hero-text a.btn 
	{
		width: 50%;
		margin-top: 1rem;
	}
}