::root
{
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
}

html, body
{
	width: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: 1.5px;
	word-spacing: 2px;
}

*,
*::before,
*::after
{
	box-sizing: border-box !important;
	padding: 0;
	margin:  0;
	word-wrap: break-word;
	list-style: none;
	text-decoration: none;
	transition: .7s;
	object-fit: cover;
}

body
{
	color: #060605;
	background: #FAFAF9;
	word-wrap:break-word;
}

a,
a::before,
a::after
{
	text-decoration: none;
	color: #060605;
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.responsive
{
	max-width: 100%;
}

/* Page Contents */

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 1rem;
}

.logo 
{
	cursor: pointer;
	text-transform: uppercase;
}

.nav__links
{
	list-style: none;
}

.nav__links li 
{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a
{
	transition: all .3s ease 0s;
}

.nav__links li a:hover
{
	color: #000;
}

header .right
header span
{
	margin-left: auto;
}

.flash .row
{
	text-align: center;
	overflow-x: scroll;
	-ms-word-wrap: nowrap;
	word-wrap: nowrap;
	white-space: nowrap;
}

/* width */
.flash .row::-webkit-scrollbar {
	width: 0px;
  }
  
  /* Track */
  .flash .row::-webkit-scrollbar-track {
	background: transparent;
  }
  
  /* Handle */
  .flash .row::-webkit-scrollbar-thumb {
	background: transparent;
  }
  
  /* Handle on hover */
  .flash::-webkit-scrollbar-thumb:hover {
	background: transparent;
  }

.flash a,
.flash span.dot
{
	display: inline-block;
	vertical-align: middle;
	margin: 0 12px 0 12px;
}

.flash span.dot
{
	display: inline-block;
	width: 10px;
	height: 10px;
	font-size: 1.8rem;
	background: #060605;
	border-radius: 50%;
}

main 
{
	position: relative;
	min-height: 95vh;
}

main .row 
{
	position: relative;
}

main #about
{
	padding: 4rem;
}
main #about p
{
	font-size: 40px;
	margin-bottom: 25px;
}

main #about #font-logo
{
	position: absolute;
	bottom: 8rem;

	width: 75px;
	height: 75px;
	background: #000;
}

.list > div
{
	margin: auto;
}

.card
{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #FAFAF9;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	width: 500px;
	height: 250px;
	margin: 15px auto;
}

/* responsive */
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 480px) {

}