*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    list-style: none;
    transition: all .7s;
}

body
{
    background: #e2e1e0;
    color: #000;
    text-shadow: revert;
}

.container
{
    width: 90%;
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.profile-card
{
    width: 400px;
    height: 550px;
    margin-top: 15%;
    position: relative;
    background: #fff;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile-card:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile-image
{
    display: block;
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 12px auto;
    background: darkgrey;
    text-align: center;
}

h1
{
    font-size: 2.9rem;
    margin: 8px auto;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}


p
{
    margin: 1% auto;
    width: 75%;
    padding: 4px;
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    word-spacing: 1.6px;
}

.profile-socials
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
}

.tab
{
    width: 33.3333333333%;
    height: 50px;
    background: #f8f8f8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab a
{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: darkgrey;
}

.tab:hover
{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.tab:hover a
{
    color: #e2e1e0;
}