*,
*::before,
*::after
{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

::selection
{
    background: #6c63ff;
    color: #fff;
}

body
{
    background: #e2e1e0;
    color: #000;
}

.container
{
    width: 90%;
    margin: auto;
    display: flex;
    position: relative;
}

.card
{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 15% auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-image
{
    width: 300px;
    height: 290px;
    margin: auto;
    margin-top: -100px;
    padding: 12px;
    background: rgb(226, 226, 226);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card,
.card .card-image
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card:hover,
.card:hover .card-image,
.card:hover .follow-btn
{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.card-image img
{
    width: 100%;
}

.card-info
{
    text-align: center;
    padding: 25px;
}

.name
{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.title
{
    color: #6c63ff;
    font-size: 1.5rem;
    font-weight: 300;
}

p
{
    text-align: justify;
    margin: 20px auto;
    font-weight: lighter;
    color: rgba(39, 39, 39, 0.671);
}

.follow-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 1.6rem;
    text-align: center;
    padding: 2.5px;
    border: none transparent;
    border-radius: 50%;
    outline: none;
    background: #e2e1e0;
    color: #6c63ff;
    position: absolute;
    right: -10px;
    bottom: -12px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.follow-btn:hover
{
    background: #6c63ff;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}